<aside id="fileTree" class="tree">
  <h2>Site Tree</h2>
  <ul>
    <!-- ──────────────── GENERAL ──────────────── -->
    <li class="folder">General
      <ul>
        <li class="folder">Images
          <ul>
            <li class="file"><a href="general.html#AI-rocket-gif">AI-rocket.gif</a></li>
            <li class="file"><a href="general.html#test-png">test.png</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- ──────────────── SOUNDS ──────────────── -->
    <li class="folder">Sounds
      <ul>
        <li class="file"><a href="sounds.html#rocket-blast-off-and-countdown-ogg">rocket-blast-off-and-countdown.ogg</a></li>
        <li class="file"><a href="sounds.html#wenk-wenk-wenk-ogg">wenk-wenk-wenk.ogg</a></li>
        <li class="file"><a href="sounds.html#ERROR-Bonkwave-has-crashed-ogg">ERROR-Bonkwave-has-crashed.ogg</a></li>
      </ul>
    </li>

    <!-- ───────────────── TM ────────────────── -->
    <li class="folder">TM
      <ul>
        <li class="folder">Mapping
          <ul>
            <li class="folder">Images
              <ul>
                <li class="file"><a href="TM.html#Bub-webp">Bub.webp</a></li>
                <li class="file"><a href="TM.html#Fake-tun-webp">Fake-tun.webp</a></li>
                <li class="file"><a href="TM.html#Rock_meme_WYD-png">Rock_meme_WYD.png</a></li>
                <li class="file"><a href="TM.html#bPP-ad-webp">bPP-ad.webp</a></li>
                <li class="file"><a href="TM.html#bPP-ad2-webp">bPP-ad2.webp</a></li>
              </ul>
            </li>
            <li class="folder">Videos
              <ul>
                <li class="file"><a href="TM.html#AI-rocket-webm">AI-rocket.webm</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="folder">BonkPP
          <ul>
            <li class="file"><a href="TM.html#another-one-mp3">another-one.mp3</a></li>
            <li class="file"><a href="TM.html#dry-fart-mp3">dry-fart.mp3</a></li>
            <li class="file"><a href="TM.html#duck-toy-sound-mp3">duck-toy-sound.mp3</a></li>
            <li class="file"><a href="TM.html#erro-mp3">erro.mp3</a></li>
            <li class="file"><a href="TM.html#mac-quack-mp3">mac-quack.mp3</a></li>
            <li class="file"><a href="TM.html#punch-mp3">punch.mp3</a></li>
            <li class="file"><a href="TM.html#rizz-sound-effect-mp3">rizz-sound-effect.mp3</a></li>
            <li class="file"><a href="TM.html#spongebob-boowomp-mp3">spongebob-boowomp.mp3</a></li>
            <li class="file"><a href="TM.html#ta-da-mp3">ta-da.mp3</a></li>
            <li class="file"><a href="TM.html#taco-bell-bong-sfx-mp3">taco-bell-bong-sfx.mp3</a></li>
            <li class="file"><a href="TM.html#what-are-you-doing-mp3">what-are-you-doing.mp3</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</aside>
